<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <form action="createUser.component.html" #f="ngForm">
        <div class="col-lg-6 col-md-6 col-sm-6">
            Form of Address:<br>
            <form required>
                <input type="radio" name="gender"> Mr.
                <input type="radio" name="gender"> Mrs.
                <input type="radio" name="gender"> Other
            </form>
            First Name:<br>
            <input type="text" ngModel name="firstname" required firstname>
            <br>
            Last Name:<br>
            <input type="text" ngModel name="lastname" required lastname>
            <br>
            Address:<br>
            <input type="text" ngModel name="address" required address>
            <br>
            City:<br>
            <input type="text" ngModel name="city" required city>
            <br>
            ZIP Code:<br>
            <input type="number" ngModel name="zipcode" required zipcode>
            <br>
            Country:<br>
                <select name="country">
                    <option value="United States">United States</option>
                    <option value="Canada">Canada</option>
                    <option value="Australia">Australia</option>
                    <option value="New Zealand">New Zealand</option>
                </select>
            <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">

                E-Mail:<br>
                <input type="email" ngModel name="email" required email>
                <br>

            Password:<br>
            <input type="password" name="password" ngModel name="password" required password>
            <br>
            Confirm Password:<br>
            <input type="password" name="confirmpassword" ngModel name="confirmpassword" required confirmpassword>
            <br>
                <p style="padding-top: 50px;">{{f.valid?' ':'Invalid Inputs!'}}</p>
        </div>
        <input [disabled]="!f.valid" type="submit" value="Create Profile" name="createprofile" style="margin-top: 75px; margin-left: 14px;" required>
        </form>
    </div>
</div>