div.panel-heading {
    font-size: x-large;
    background-color: #42A37C;
    font-family: Poor Richard;
 }

 a {
    color: #42A37C;
    text-decoration: none;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: transparent;
}

div.panel-heading[_ngcontent-c0] {
    font-size: x-large;
    background-color: #42A37C;
    border: transparent;
}

h3{
    font-family: Poor Richard;
}
